/*стили для heder-body продублированы в общем файле 
style.scss, почему-то иначе не работает
*/

.header {
    background-color: $backgroundColor;
}

.header__body {
    display: flex;
    gap: 72px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    // padding-left: 175px;
}

.header {
    &__menu {
        display: flex;
        flex: 1 1 auto;
    }
}

.nav-icon {
    display: none;
}

.burger-icon {
    display: none;
    width: 28px;
}

.logo-mobile {
    display: none;
}

.call-burger,
.contacts-burger {
    display: none;
}

.burger__link {
    display: none;
}

.logo-header {
    padding: 0 45px;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    &__item {}

    &__link {
        display: block;
        text-align: center;
        font-family: 'Fira Sans';
        font-weight: 500;
        font-size: 17px;
        line-height: calc(25.5/17);
        text-transform: uppercase;
        color: $darkColor;
    }

}

.call {}

.call-btn {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    padding: 19px 60px;
    border-radius: 12px;
    border: none;
    background-color: $carmin;
    color: $white;
}

.watsapp-btn {
    display: none;
}



//===================MEDIA===============
@media(max-width:1440px) {

    .header__body {
        padding-left: 0px;
        gap: 50px;
    }

    .call-btn {
        padding: 19px 40px;
        font-size: 15px;
    }

    .menu {
        &__link {
            font-size: 15px;
            line-height: calc(14.4/12);

        }
    }

    .logo-header {
        padding: 0 25px;
    }
}

@media(max-width:1140px) {
    .header__body {
        gap: 15px;
    }

    .logo-header {
        padding: 0 25px;
    }

    .menu {
        &__link {
            font-size: 12px;
            line-height: calc(14.4/12);
        }
    }

    .call-btn {
        padding: 12px 30px;
        font-size: 12px;
    }
}

@media(max-width:920px) {
    .call-btn {
        padding: 19px 25px;
        font-size: 12px;
    }

    .logo-header {
        padding: 0 10px;
    }
}

@media(max-width:864px) {

    .menu {
        &__link {
            font-size: 10px;
        }
    }


    .call-btn {
        display: none;
    }

    .watsapp-btn {
        display: block;
    }
}


//----------------------бургер--------------------------
@media(max-width:600px) {
    .header__body {
        padding-top: 3px;
        padding-bottom: 3px;
    }


    .nav-icon {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .burger-icon {
        display: block;
    }

    .logo-header {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .menu__link {
        font-size: 17px;
    }

    .burger__link {
        display: block;
    }

    .contacts-burger {
        display: block;
        margin-top: -5px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20.8/16);

    }

    .call-burger {
        display: block;
        padding-top: 80px;
        font-family: 'Fira Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        color: $carmin;
    }

    .call {
        // margin-right: 30px;
        display: none;
    }

    //меню выстраиваю в колонку и прячу влево
    //меню бургера сотоит из двух частей, каждую позиционирую отдельно
    .menu__list {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column;
        position: fixed;
        top: 46px;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 51px 15px;
        background-color: $white;
        transition: all 0.5s ease 0s;
        z-index: 5;
    }

    .menu__list._second {
        padding-top: 20px;
        top: 237px;
    }

    //по клику на иконку показываю
    .menu__list._active {
        left: 0;
    }

    ._hidden {
        display: none;
    }
}