<footer class="footer">
    <div class="footer__content container">
        <div class="footer__logo"><img src="../img/Logo.png" alt="logo"></div>
        <div class="footer__info">
            <ul class="footer__menu">
                <li class="footer__item"><a href="#" class="footer__link">Вопросы</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Правовая информация</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <a href="#" target="_blank"><img src="../img/watsapp.png" alt="whatsapp"></a>
            <a href="#" target="_blank"><img src="../img/telegram.png" alt="telegram"></a>
            <a href="#" target="_blank"><img src="../img/vk.png" alt="vk"></a>
        </div>
        <div class="footer__info">
            <ul class="footer__menu">
                <li class="footer__item"><a href="#" class="footer__link">Условия доставки и оплаты</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>


<script src="../js/main.min.js"></script>
</body>

</html>