<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <title>EatMeNow</title>
</head>

<body>
    <header class="header">
        <div class="header__content  container">
            <div class="header__body ">
                <div class="logo-mobile">
                    <img src="../img/Logo-small.png" alt="logo">
                </div>
                <nav class="header__menu menu">

                    <ul class="menu__list">
                        <li class="menu__item"><a href="#" class="menu__link">праздник</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">торты</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">пирожные</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">сладости к чаю</a></li>
                    </ul>
                    <div class="menu__item logo-header"><a href="#" class="menu__link">
                            <picture>
                                <source srcset="../img/Logo.png" media="(min-width:865px)">
                                <source srcset="../img/Logo-small.png" media="(min-width:362px)">
                                <img src="../img/Logo.png" alt="logo">
                            </picture>
                        </a>
                    </div>
                    <ul class="menu__list _second">
                        <li class="menu__item"><a href="#" class="menu__link">о нас</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">доставка и оплата</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">контакты</a></li>
                        <li class="menu__item burger__link"><a href="https://wa.me/79067909608" class="call-burger"
                                target="_blank">+7 (000)
                                000-00-00</a></li>
                        <li class="menu__item contacts-burger">Москва и Московская<br> область</li>


                        <li class="call">
                            <a href="https://wa.me/79067909608" target="_blank" class="call-btn">Позвонить</a>
                            <a href="https://wa.me/79067909608" target="_blank" class="watsapp-btn"><img
                                    src="../img/watsapp.png" alt=""></a>
                        </li>

                    </ul>
                </nav>
                <div class="nav-icon">
                    <a href="https://wa.me/79067909608" target="_blank" class="watsapp-btn"><img
                            src="../img/watsapp.png" alt=""></a>
                    <span class="burger-icon"><img src="../img/burger.png" alt="burger-menu"></span>
                    <span class="burger-icon _hidden"><img src="../img/close.png" alt="burger-menu"></span>
                </div>
            </div>
        </div>
    </header>